# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build/classes
build/distributions
build/generated
build/libs
build/resources
build/scripts
build/tmp

# Ignore compiled sources
bin

# Ignore Visual Studio settings
.idea

*.csv.gz
*.csv

